body{
  background-color: #edf1d6;
  color: #40513B;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
  boxing-size:border-box;
}
header{
 display:flex;
  justify-content:space-between;
  align-items:center;
  background-color:#9DC09B
  width:100vw;
  hieght:60px;
}
.logo{
  height:50px;
  width:auto;
}
ul{
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
}
li a{
  text-decoration:none;
  padding: 10px 15px;
  display:block;
}
